.footer {
    display: flex;
    justify-content: center;
    background: url(../img/bg/bg-footer.png) center center/cover no-repeat;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 40px;
        padding: 30px 0 0 0;

        @media (min-width: 768px) {
            justify-content: space-evenly;
            row-gap: 65px;
            column-gap: 20px;
        }
        @media (min-width: 992px) {
            justify-content: space-between;
            padding: 40px 0 0 0;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 280px;
        max-width: 280px;
        min-height: 208px;

        @media (min-width: 768px) {
            min-height: 234px;
        }
        @media (min-width: 992px) {
            margin: 20px 0 0;
        }
    }
    &__location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 300px;
        max-width: 300px;
        min-height: 222px;
        
        @media (min-width: 768px) {
            min-height: 234px;
        }
        @media (min-width: 992px) {
            margin: 20px 0 0;
        }
    }
    &__title {
        @include h3-mobile;
        max-width: 278px;
        color: $color-light-xl;
        align-self: center;
        text-align: center;

        @media (min-width: 768px) {
            @include h3;
            max-width: 280px;
            align-self: normal;
            text-align: left;
        }
    }
    &__icon {
        filter: brightness(0)
                saturate(100%)
                invert(81%)
                sepia(36%)
                saturate(764%)
                hue-rotate(309deg)
                brightness(116%)
                contrast(99%);
        transition: all 0.4s ease;
    }
    &__text {
        @include h-4;
        color: $color-primary;
        transition: all 0.4s ease;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: $color-primary;
        text-decoration: none;
        &_left {
            justify-content: flex-start;
        }
        &:hover > .footer__text {
            color: $color-light-s;
        }
        &:hover > .footer__icon {
            filter: brightness(0)
                    saturate(100%)
                    invert(99%)
                    sepia(4%)
                    saturate(426%)
                    hue-rotate(285deg)
                    brightness(114%)
                    contrast(96%);
        }

        @media (min-width: 768px) {
            justify-content: flex-start;
        }
    }
    &__image-container {
        display: flex;
        justify-content: center;
        flex: 1 0 300px;
        max-width: 260px;

        @media (min-width: 768px) {
            max-width: 300px;
        }
    }
    &__image {
        width: 100%;
    }
}